# Файл с переменными окружения. Содержит секретные ключи.
.env

# Файлы базы данных. Не должны храниться в репозитории.
/db/

# Скомпилированные бинарные файлы (если они создаются)
money-bot
money-bot.exe